# Dependencies
node_modules/
.pnp
.pnp.js

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & Diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Runtime data & temp
tmp/
temp/
.cache/

# OS Generated
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
